/move_vertex_off.7a23bf31ef8a.svg
/move_vertex_off.7a23bf31ef8a.svg.gz
/move_vertex_off.svg
/move_vertex_off.svg.gz
/move_vertex_on.0047eba25b67.svg
/move_vertex_on.0047eba25b67.svg.gz
/move_vertex_on.svg
/move_vertex_on.svg.gz
